<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jack.com.servicekeep">

    <!--开机启动监听-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission  android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission  android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission  android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission  android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission  android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission  android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission  android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>


    <application
        android:label="@string/app_name"
        android:icon="@mipmap/logo_96"
        android:name="App"
        android:persistent="true"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>

        <!--增加唤醒WorkService的定时任务-->
        <service
            android:name="jack.com.servicekeep.service.KeepAliveJobSchedulerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:persistent="true"
            android:process="jack.com.servicekeep.job_scheduler_service" />

        <!--todo 自己业务保活的Service-->
        <service
            android:name="jack.com.servicekeep.service.WorkService"
            android:exported="true"
            android:label="Jack"
            android:persistent="true"
            android:process="com.jack.workservice"></service>

        <activity
            android:name=".NoCaremaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTranslucent"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin" />
        </activity>

        <activity
            android:name=".ZhuCeActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".SaoMaYeActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".FangKeYeActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".WelcomeActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />



        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="afe5f330e53949352047a5830e33ab21" /> <!-- <provider -->


        <service android:name="com.amap.api.location.APSService" />

    </application>


</manifest>